<%- include ('../partials/header.ejs') %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="starter-template">
                    <div class="list-page-header">
                        <h1 class="title-1"><%= title %></h1>
                        <a href='/users/new' class="btn btn-outline-success btn-sm">Novo</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Situação</th>
                                <th>Administrador</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% userList.forEach(function(user){ %>
                                <tr>
                                    <td><%= user.name %></td>
                                    <td style="word-break:break-all"><%= user.email %></td>
                                    <td><%= statusEnum[user.status] %></td>
                                    <td><%= user.admin ? 'Sim' : 'Não' %></td>
                                    <td class="text-nowrap">
                                        <a href='/users/edit/<%= user._id %>'><span class="material-symbols-outlined">edit</span></a>
                                        <a href='/users/remove/<%= user._id %>' onclick="return confirm('Excluir o usuário \'<%= user.name %>\'?')"><span class="material-symbols-outlined symbol-red">delete</span></a>
                                    </td>
                                </tr>
                            <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
            <%- template.scripts %>
    </body>

    </html>
