<%- template.head %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="starter-template">
                    <h1 class="title-1">
                        <%= title %>
                    </h1>
                    <br>
                    <form action="/emails/update" method="post">
                        <input type="hidden" name="id" value="<%= email._id %>">
                        <div class="form-group">
                            <label for="address">Nome</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Email"
                                aria-describedby="basic-addon1" value="<%= email.address %>">
                        </div>
                        <br>
                        <div class="form-group-btn">
                            <input type="submit" class="btn btn-primary center-block" value="Salvar" />
                        </div>
                    </form>
                </div>
            </div>
            <%- template.scripts %>
    </body>

    </html>