<%- template.head %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="starter-template">
                    <h1 class="title-1">
                        <%= title %>
                    </h1>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% emailList.forEach(function(email){ %>
                                <tr>
                                    <td>
                                        <%= email.address %>
                                    </td>
                                    <td><a href='/emails/edit/<%= email._id %>'>Editar</a>
                                        <a href='/emails/remove/<%= email._id %>'>Excluir</a>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
            <%- template.scripts %>
    </body>

    </html>