<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1 class="text-center title-1">Email</h1>
    <ul>
        <% if (message.payload != null && message.payload.headers != null) {message.payload.headers.forEach(function(header){ %>
        <li>
            <%= header.name %>:
            <%= header.value %>
         </li>
        <% })} else {%>
        <li><%= message %></li>
        <% } %>
        <li>Anexo: <% if (attachment != null) {%><a href='data:application/pdf;base64,<%- attachment.attachment.data %>' title='Download pdf document'><%= attachment.filename %></a><%}%></li>
        <li>Valor: <%= valor %></li>
    </ul>
</body>
</html>