<%- include ('../partials/header.ejs') %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="float-right small">Último processamento:
                    <span data-mask="00/00/0000 00:00:00"><%= lastUpdate?.toLocaleDateString('pt-br') %></span>
                </div>
                <div class="starter-template">
                    <h1 class="title-1">
                        <%= title %>
                    </h1>
                    <br>
                    <select class="form-control" id="user" name="user" onchange="filterBillsByUser(this.value)">
                        <% users.forEach(function(user){ %>
                            <option value="<%= user._id %>"><%= user.name %></option>
                        <% }) %>
                    </select>
                    <br>
                    <div id="billList"></div>
                </div>
            </div>
            <%- template.scripts %>
                <script>
                    $(document).ready(function() {
                        applyMask();
                        $('[data-toggle="tooltip"]').tooltip();
                        filterBillsByUser($('#user').val());
                    });

                    function applyMask() {
                        $('.money').mask('000.000.000.000.000,00', {reverse: true});
                    }

                    function filterBillsByUser(value) {
                        $('#billList').load('/dashboard/user-bill-list/?userId=' + value)
                    }
                </script>
    </body>

    </html>