<%- include ('../partials/header.ejs') %>

    <body class="dark-theme">
        <%- template.navbar %>
        <div class="starter-template">
            <div class="float-right small">
                Último processamento:
                <span data-mask="00/00/0000 00:00:00"><%= lastUpdate?.toLocaleDateString('pt-br') %></span>
            </div>
            <% activeBillData.forEach(function(data){ %>
                <div class="header">
                    <h1 class="title-1">
                        <%= data.month %>
                    </h1>
                </div>
                <br>
                <div class="container-cards">
                    <div class="dashboard">
                        <% data.billList?.forEach(function(bill){ %>
                            <div class="card">
                                <i class="fas <%= bill.icon %>"></i>
                                <div>
                                    <h2><%= bill.name %></h2>
                                    <p class="money"><%= bill.value ? Number(bill.value).toFixed(2) : '' %></p>
                                    <p class="date" data-mask="00/00"><%= bill?.dueDate?.toLocaleDateString('pt-br') %></p>
                                </div>
                            </div>
                        <%})%>
                    </div>
                    <div class="summary">
                        <h2>Resumo Mensal</h2>
                        <p>Total Contas: <span class="total"><%= Number(data.totalValue).toFixed(2) %></span></p>
                    </div>
                </div>
            <%})%>
        <%- template.scripts %>
            <script>
                // Function to get the current month and year
                function getCurrentMonth() {
                    const now = new Date();
                    const options = { month: 'long', year: 'numeric' };
                    return now.toLocaleDateString('en-US', options);
                }

                // Set the current month in the header
                //document.getElementById('month-header').textContent = `Bills for: ${getCurrentMonth()}`;
            </script>
        </body>
    </div>
</html>
