<%- include ('../partials/header.ejs') %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="float-right small">Último processamento:
                    <span><%= lastUpdate?.toLocaleString('pt-br') %></span>
                </div>
                <div class="starter-template">
                    <h1 class="title-1">
                        <%= title %>
                    </h1>
                    <br>
                    <div>
                        <span>
                            Usuário
                            <select class="form-control" id="user" name="user" onchange="filterBills()">
                                <% users.forEach(function(user){ %>
                                <option value="<%= user._id %>"><%= user.name %></option>
                                <% }) %>
                            </select>
                        </span>
                        <span>
                            Filtro de período
                            <select class="form-control" id="periodFilter" name="periodFilter" onchange="filterBills()">
                                <% var keys = Object.keys(periodFilterEnum); keys.forEach(function(pf){ %>
                                    <option value="<%= pf %>"><%= periodFilterEnum[pf] %></option>
                                <%})%>
                            </select>
                        </span>
                    </div>
                    <br>
                    <div id="billList"></div>
                    <br>
                    <div>
                        <button id="sendNotificationBtn" class="btn btn-secondary btn-sm" onclick="sendPushNotification()">
                            Enviar notificação
                        </button>
                        <span id="notificationStatus" class="small ml-2"></span>
                    </div>
                </div>
            </div>
            <%- template.scripts %>
                <script>
                    $(document).ready(function() {
                        applyMask();
                        $('[data-toggle="tooltip"]').tooltip();
                        filterBills();
                    });

                    function applyMask() {
                        $('.money').mask('000.000.000.000.000,00', {reverse: true});
                    }

                    function filterBills() {
                        var userId = $('#user').val();
                        var filter = $('#periodFilter').val();
                        $('#billList').load('/dashboard/user-bill-list/?userId=' + userId + "&periodFilter=" + filter)
                    }

                    function sendPushNotification() {
                        var btn = $('#sendNotificationBtn');
                        var status = $('#notificationStatus');
                        btn.prop('disabled', true);
                        status.text('Enviando...');
                        $.ajax({
                            url: '/notifications/push/send',
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({ title: 'Lembrador de Contas', body: 'Você tem contas pendentes.' }),
                            success: function() {
                                status.text('Notificação enviada!');
                            },
                            error: function() {
                                status.text('Erro ao enviar notificação.');
                            },
                            complete: function() {
                                btn.prop('disabled', false);
                                setTimeout(function() { status.text(''); }, 4000);
                            }
                        });
                    }
                </script>
    </body>

    </html>