<%- include ('../partials/header.ejs') %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="float-right small">Último processamento:
                    <span data-mask="00/00/0000 00:00:00"><%= lastUpdate?.toLocaleDateString('pt-br') %></span>
                </div>
                <div class="starter-template">
                    <h1 class="title-1">
                        <%= title %>
                    </h1>
                    <br>
                    <div>
                        <span>
                            Usuário
                            <select class="form-control" id="user" name="user" onchange="filterBills()">
                                <% users.forEach(function(user){ %>
                                <option value="<%= user._id %>"><%= user.name %></option>
                                <% }) %>
                            </select>
                        </span>
                        <span>
                            Filtro de período
                            <select class="form-control" id="periodFilter" name="periodFilter" onchange="filterBills()">
                                <% var keys = Object.keys(periodFilterEnum); keys.forEach(function(pf){ %>
                                    <option value="<%= pf %>"><%= periodFilterEnum[pf] %></option>
                                <%})%>
                            </select>
                        </span>
                    </div>
                    <br>
                    <div id="billList"></div>
                </div>
            </div>
            <%- template.scripts %>
                <script>
                    $(document).ready(function() {
                        applyMask();
                        $('[data-toggle="tooltip"]').tooltip();
                        filterBills();
                    });

                    function applyMask() {
                        $('.money').mask('000.000.000.000.000,00', {reverse: true});
                    }

                    function filterBills() {
                        var userId = $('#user').val();
                        var filter = $('#periodFilter').val();
                        $('#billList').load('/dashboard/user-bill-list/?userId=' + userId + "&periodFilter=" + filter)
                    }
                </script>
    </body>

    </html>