
<% userBillsData?.billListPerMonth?.forEach(function(data){ %>
    <br>
    <h2><%= data.month %></h2>
    <div class="float-right">Total:
        <span class="money font-weight-bold"><%= Number(data.totalValue).toFixed(2) %></span>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Venc.</th>
                    <th>Valor</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <% data.billList?.forEach(function(bill){ %>
                    <tr>
                        <td>
                            <%= bill.name %>
                        </td>
                        <td>
                            <span class="date" data-mask="00/00"><%= bill?.dueDate?.toLocaleDateString('pt-br') %></span>
                        </td>
                        <td>
                            <span class="money"><%= bill.value ? Number(bill.value).toFixed(2) : '' %></span>
                        </td>
                        <td>
                            <% if (activeBillStatusEnum[bill.status] == activeBillStatusEnum.PAID){ %>
                            <span class="material-symbols-outlined symbol-blue">
                                done
                            </span>
                            <%} else {%>
                            <span class="material-symbols-outlined symbol-red">
                                attach_money
                            </span>
                        </td>
                        <%}%>
                        <% if (activeBillStatusEnum[bill.status] == activeBillStatusEnum.UNPAID){ %>
                        <td>
                            <a href="dashboard/paybill/<%= bill._id %>" data-toggle="tooltip" title="Marcar como pago" class="btn material-symbols-outlined">done</a>
                        </td>
                        <%}%>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>
<%})%>