<%- template.head %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="starter-template">
                    <h1 class="title-1">
                        <%= title %>
                    </h1>
                    <br>
                    <form id="form" action="/emails/<% if (locals.email) {%>update<% }else{ %>add<% } %>" method="post" class="justify-content-center">
                        <% if (locals.email) {%>
                            <input type="hidden" name="id" value="<%= email._id %>">
                            <% } %>
                                <div class="form-group">
                                    <label for="address">Remetente</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Remetente" aria-describedby="basic-addon1" required <% if (locals.email)
                                        { %>value="<%= email.address %>"<% } %>>
                                </div>
                                <div class="form-group">
                                    <label for="subject">Assunto</label>
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" aria-describedby="basic-addon1" required <% if (locals.email)
                                        { %>value="<%= email.subject %>"<% } %>>
                                </div>
                                <% if (locals.email) {%>
                                    <div class="form-group">
                                        <label for="status">Situação</label>
                                        <select name='status' class="form-control" id="status">
                                            <% var keys = Object.keys(statusEnum); keys.forEach(function(vst){ %>
                                                <option <% if (vst == email.status) {%>selected="selected"<% } %> value="<%= vst %>"><%= statusEnum[vst] %></option>
                                            <%})%>
                                        </select>
                                    </div>
                                <% } %>
                                <div class="form-group">
                                    <input type="checkbox" id="attachmentPDF" name="attachmentPDF">
                                    <label for="attachmentPDF">Anexo PDF</label>
                                </div>
                                <table id="table" class="table">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Valor</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div>
                                    <a href="javascript:addRow()">Adicionar linha</a>
                                </div>
                                <br>
                                <br>
                                <div class="form-group-btn">
                                    <input type="submit" class="btn btn-primary center-block" value="Salvar" />
                                </div>
                    </form>
                </div>
            </div>
            <%- template.scripts %>
            <script>
                var rowCount = 0;

                <% if (locals.email) { %>
                    var dataJSON = '<%- JSON.stringify(email.valueData) %>';
                    var data = JSON.parse(dataJSON);

                    for (line of data) {
                        createRow(line.name, line.value);
                    }
                <% } %>

                function createRow(name, value) {
                    addRow(name, value);
                }

                function n(n) {
                    return n > 9 ? "" + n : "0" + n;
                }

                function addRow(nameValue, valueValue) {
                    var table = $('#table tr:last').after('<tr id="row-' + rowCount + '">' + gennameCol(nameValue) + genValueCol(valueValue) + genRemoveAction() + '</tr>');
                    rowCount++;
                    applyMask();
                }

                function removeRow(rowNumber) {
                    $('#row-' + rowNumber).remove();
                    rowCount--;
                }

                function gennameCol(value) {
                    return '<td><input type="text" class="form-control" id="name-' + rowCount + '" value="' + (value || '') + '" name="name" placeholder="Nome" aria-describedby="basic-addon1" required></td>';
                }

                function genValueCol(value) {
                    return '<td><input type="text" class="form-control" id="value-' + rowCount + '" value="' + (value || '') + '" name="value" placeholder="Valor" aria-describedby="basic-addon1" required></td>';
                }

                function genRemoveAction() {
                    return '<td><a href="javascript:removeRow(' + rowCount + ')">Remover</a></td>';
                }
            </script>
    </body>

    </html>