<%- template.head %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="starter-template">
                    <h1 class="title-1">
                        <%= title %>
                    </h1>
                    <br>
                    <form id="form" action="/emails/<% if (locals.email) {%>update<% }else{ %>add<% } %>" method="post" class="justify-content-center">
                        <% if (locals.email) {%>
                            <input type="hidden" name="id" value="<%= email._id %>">
                        <% } %>
                            <div class="form-group">
                                <label for="address">Remetente</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="Remetente" aria-describedby="basic-addon1" required <% if (locals.email)
                                    { %>value="<%= email.address %>"<% } %>>
                            </div>
                            <div class="form-group">
                                <label for="subject">Assunto</label>
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" aria-describedby="basic-addon1" required <% if (locals.email)
                                    { %>value="<%= email.subject %>"<% } %>>
                            </div>
                            <div class="form-group">
                                <label for="dataType">Tipo Dado</label>
                                <select name='dataType' class="form-control" id="dataType">
                                    <% var keys = Object.keys(dataTypeEnum); keys.forEach(function(vst){ %>
                                        <% if (locals.email) {%>
                                            <option <% if (vst == email.dataType) {%>selected="selected"<% } %> value="<%= vst %>"><%= dataTypeEnum[vst] %></option>
                                        <% } else { %>
                                            <option value=<%= vst %>><%= dataTypeEnum[vst] %></option>
                                        <%}%>
                                    <%})%>
                                </select>
                            </div>
                            <% if (locals.email) {%>
                                <div class="form-group">
                                    <label for="status">Situação</label>
                                    <select name='status' class="form-control" id="status">
                                        <% var keys = Object.keys(statusEnum); keys.forEach(function(vst){ %>
                                            <option <% if (vst == email.status) {%>selected="selected"<% } %> value="<%= vst %>"><%= statusEnum[vst] %></option>
                                        <%})%>
                                    </select>
                                </div>
                            <% } %>
                            <% if (locals.email && dataTypeEnum[locals.email.dataType] == dataTypeEnum.PDF_ATTACHMENT) { %>
                                <div id="nameValues">
                                    <table id="table" class="table">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Valor</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div>
                                        <a href="javascript:addRow()">Adicionar linha</a>
                                    </div>
                                </div>
                            <% } %>
                            <br>
                            <br>
                            <div class="form-group-btn">
                                <input type="submit" class="btn btn-primary center-block" value="Salvar" />
                                <a href="/emails/list" class="btn btn-secondary center-block">Cancelar</a>
                            </div>
                    </form>
                </div>
            </div>
            <%- template.scripts %>
            <script>
                var rowCount = 0;

                $('#dataType').change(function (value) {
                    if (value.target.value === 'PDF_ATTACHMENT') {
                        $('#nameValues').show();
                    } else {
                        $('#nameValues').hide();
                        $('#table tr.data-row').remove();
                    }
                });

                <% if (locals.email && dataTypeEnum[locals.email.dataType] == dataTypeEnum.PDF_ATTACHMENT) { %>
                    var dataJSON = '<%- JSON.stringify(email.valueData) %>';
                    var data = JSON.parse(dataJSON);

                    for (line of data) {
                        createRow(line.name, line.value);
                    }
                <% } %>

                function createRow(name, value) {
                    addRow(name, value);
                }

                function n(n) {
                    return n > 9 ? "" + n : "0" + n;
                }

                function addRow(nameValue, valueValue) {
                    var table = $('#table tr:last').after('<tr class="data-row" id="row-' + rowCount + '">' + genNameCol(nameValue) + genValueCol(valueValue) + genRemoveAction() + '</tr>');
                    rowCount++;
                    // applyMask();
                }

                function removeRow(rowNumber) {
                    $('#row-' + rowNumber).remove();
                    rowCount--;
                }

                function genNameCol(value) {
                    return '<td><input type="text" class="form-control" id="name-' + rowCount + '" value="' + (value || '') + '" name="name" placeholder="Nome" aria-describedby="basic-addon1" required></td>';
                }

                function genValueCol(value) {
                    return '<td><input type="text" class="form-control" id="value-' + rowCount + '" value="' + (value || '') + '" name="value" placeholder="Valor" aria-describedby="basic-addon1" required></td>';
                }

                function genRemoveAction() {
                    return '<td><a href="javascript:removeRow(' + rowCount + ')">Remover</a></td>';
                }
            </script>
    </body>

    </html>