<%- include ('../partials/header.ejs') %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="starter-template">
                    <div class="list-page-header">
                        <h1 class="title-1"><%= title %></h1>
                        <a href='/emails/new' class="btn btn-outline-success btn-sm">Novo</a>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Remetente</th>
                                    <th>Situação</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% emailList.forEach(function(email){ %>
                                    <tr>
                                        <td style="word-break:break-all;text-align:left"><%= email.address %></td>
                                        <td><%= statusEnum[email.status] %></td>
                                        <td class="text-nowrap">
                                            <a href='/emails/edit/<%= email._id %>'><span class="material-symbols-outlined">edit</span></a>
                                            <form action="/emails/remove/<%= email._id %>" method="post" style="display:inline"><input type="hidden" name="_csrf" value="<%= csrfToken %>"><button type="submit" class="btn-link" onclick="return confirm('Excluir?')"><span class="material-symbols-outlined">delete</span></button></form>
                                            <a href='/emails/test/<%= email._id %>'>Testar</a>
                                        </td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <%- template.scripts %>
    </body>

    </html>