<%- include ('../partials/header.ejs') %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="starter-template">
                    <div class="list-page-header">
                        <h1 class="title-1"><%= title %></h1>
                        <a href='/tables/new' class="btn btn-outline-success btn-sm">Novo</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Situação</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% tableList.forEach(function(table){ %>
                                <tr>
                                    <td><%= table.name %></td>
                                    <td><%= statusEnum[table.status] %></td>
                                    <td class="text-nowrap">
                                        <a href='/tables/edit/<%= table._id %>'><span class="material-symbols-outlined">edit</span></a>
                                        <form action="/tables/remove/<%= table._id %>" method="post" style="display:inline"><input type="hidden" name="_csrf" value="<%= csrfToken %>"><button type="submit" class="btn-link" onclick="return confirm('Excluir?')"><span class="material-symbols-outlined symbol-red">delete</span></button></form>
                                    </td>
                                </tr>
                            <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
            <%- template.scripts %>
    </body>

    </html>
